:root {
  --main-font-family: "Poppins", sans-serif;
  --headings-font-family: "Playfair Display", serif;
  --primary-color: #f9f7fe;
  --background-color: #e5e5e5;
  --text-color: #272142;
  --headings-color: #000000;
  --btn-color: #6c63ff;
}
body {
  background: var(--background-color);
  color: var(--text-color);
  border-radius: 15px;
  font-family: var(--main-font-family);
}

h1 {
  font-size: 96px;
  font-family: var(--headings-font-family);
  color: var(--headings-color);
  font-style: normal;
  font-weight: 700;
  line-height: 128px;
}

.hero h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 0;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
  width: 100%;
}

.btn-branding {
  background: var(--btn-color);
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
  border-radius: 4px;
}
.main-page-content {
  margin-top: 47px;
  text-align: center;
}

.main-page-content a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.main-page-content h2 {
  font-family: var(--headings-font-family);
  color: var(--headings-color);
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  margin-top: 30px;
}

.main-page-content p {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  opacity: 0.7;
}

.btn-app {
  border: 1px solid var(--btn-color);
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--btn-color);
}

@media (max-width: 756px) {
  .project-description {
    margin: 0;
    text-align: center;
  }

  .hero {
    width: 100%;
    padding: 60px 5px;
  }

  .hero h1 {
    font-size: 64px;
    line-height: 85px;
  }

  .main-page-content h2 {
    font-size: 44px;
    line-height: 64px;
    margin-top: 0;
  }
}
